{% include 'caregiver_header.html' %}
<br><br><br><br><br><br><br><br>
<center>
    <section style="background: url(/static/images/closeup-support-hands_53876-20502.jpg) center center no-repeat;
    background-size:cover;
    background-attachment: scroll;
    color: #cfcfcf;height: auto;
          margin-top:80px;" id="home">
         <div class="overlay">
             <div class="container">
                 <div class="row">  

    <form method="post">
        <h1>Chat Box</h1>
        <div style="overflow-y: scroll; width: 500px; height: 500px;">
            <table class="table" style="width: 100%;">
                {% for i in data['view'] %}
                    <tr>
                        {% if i['Usertype'] == 'caregiver' %}
                            <td align="right" style="color: green;">{{ i['Message'] }}</td>
                        {% else %}
                            <td align="left" style="color: white;">{{ i['Message'] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <table style="width: 500px;">
            <tr>
                <td style="width: 80%;"><input type="text" class="form-control" name="message" required></td>
                <td style="width: 20%;"><input class="btn btn-success" type="submit" name="submit" value="SEND"></td>
            </tr>
        </table>
    </form><br><br>
</center>
</section>
{% include 'footer.html' %}
